* {
    margin: 0;
}

.about-me {
    height: 100vh;
    position: relative;
    display: grid;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
}

#foto-main {
    border-radius: 150px;
    height: 350px;
}

#contact {
    height: 10vh;
    border-radius: 19px;
    text-align: inherit;
}

#logo {
    border-radius: 150px;
    position: relative;
    height: 100px;
    margin-left: 15px;
}

footer {
    height: 50px;
    border-radius: 15px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}


header {
    position: relative;
    display: flex;
    margin-top: 15px;
}

#linkedin{
    height: 50px;
    padding-top: 5px;
}

@media (max-width: 640px){
    header{
        display: block;
        text-align: center;
        margin-left: 5px;
    }
    #text{
        width: 250px;
    }

}

@media (max-width: 1920px){
    #text{
        width: 450px;
    }
    a{
        font-size: 40px;
    }
}

@media (max-width: 320px){
    #text{
        width: 250px;
    }
    header{
        display: block;
        text-align: center;
        margin-left: 5px;
    }
    a{
        font-size: 25px;
    }
}
