html,body{
    height: auto;
}

img{
    border-radius: 150px;
    position: relative;
    height: 100px;
}

header{
    position: relative;
    display: flex;
}

ul {
    list-style: none;
    display: flex;
}

li  {
    padding: 15px;
}

a{
    font-size: 40px;
}