* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(image/pexels-neo-2653362.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    background-attachment: fixed;
    overflow-y: scroll;
}



.second{
    background: linear-gradient(#282828, #3f3e3e); 
     border-radius: 1em;
}

/* texto falando sobre mim  */
.about-me {
    height: 100vh;
    position: relative;
    display: grid;
    text-align: center;
    justify-content: center;
    padding-top: 3.125em;
}

/* FOTO DE PERFIL  */
#foto-main {
    border-radius: 9.375em;
    height: 21.875em;
    
}

/* Todas imagens com zoom */
img:hover{
    transform: scale(1.05);
    transition-duration: 500ms;
}


/* PARTE DE CONTATO COMIGO */
#contact {
    height: 10vh;
    border-radius: 19px;
    text-align: inherit;
    overflow: hidden;
    
}

/* LOGO DEV DEIVIDI */
#logo {
    border-radius: 150px;
    position: relative;
    height: 100px;
    margin-left: 15px;
}





footer {
    height: 50px;
    border-radius: 15px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* PARTE DE NAVEGAÇÃO QUE ESTÁ EM DESENVOLVIMENTO */
/* NAVEGAÇÃO PELA PÁGINA */
nav {
    position: relative;
    display: flex;
}

#linkedin{
    height: 50px;
    padding-bottom: 10px;
}

#github{
    height: 75px;
}

.navbar {
    text-decoration: none;

}

.navbar:hover {
    border-bottom: 0.166rem solid #f3ab3f;
}


/* MEDIA QUERy */
    


@media (min-width: 1200px){
    #text{
        width: 550px;
    }
    a{
        font-size: 40px;
    }
}

@media (max-width: 1200px){
    #text{
        width: 500px;
    }
    a{
        font-size: 40px;
    }
}


@media (max-width: 1000px){
    #text{
        width: 350px;
    }
    nav{
        display: block;
        text-align: center;
        margin-left: 0px;
    }
    a{
        font-size: 25px;
    }
}




@media (max-width: 600px){
    #text{
        width: 250px;
    }
    nav{
        display: block;
        text-align: center;
        margin-left: 0px;
    }
    a{
        font-size: 25px;
    }
}

@media (max-width: 320px){
    #text{
        width: 150px;
    }
    nav{
        display: block;
        text-align: center;
        margin-left: 1px;
    }
    a{
        font-size: 18px;
    }
    .about-me{
        font-size: 10px;
    }
    #foto-main{
        height: 15rem;
    }
    img:hover{
        transform: scale(1.01);
    }
    #logo {
        height: 4rem;
    }
    #linkedin{
        height: 2rem;
    }
    #github{
        height: 3.3rem;
    }
}

