.Project{
  color: white; 

  main{
    height: 100%;

    .site{
      margin: 3rem;

      .projectSite{
        display: flex;
        flex-direction: column;
        width: 6rem;
        font-size: 0.9rem;
        gap: 1rem;

        span:hover{
          border-bottom: 0.06rem solid orange;
        }

        .website_project:hover{
          transform: scale(110%);
          transition: 100ms;
        }
      }


    }
  }

}