.Project{
  color: white; 

  main{
    height: 100%;

    .site{
      margin: 3rem;
      display: flex;
      gap: 1rem;
      .projectSite{
        display: flex;
        flex-direction: column;
        width: 6rem;
        font-size: 0.9rem;
        gap: 1rem;

        span:hover{
          cursor: pointer;
          border-bottom: 0.06rem solid orange;
        }

        .website_project:hover{
          transform: scale(120%);
          cursor: pointer;
          transition: 100ms;
        }
      }

      .projectConverter{
        display: flex;
        flex-direction: column;
        width: 6rem;
        gap: 1.5rem;

        span{
          text-align: center;
        }

        span:hover{
          border-bottom: 0.06rem solid orange;
          cursor: pointer;
        }
        .ConverterCash:hover{
          transform: scale(120%);
          cursor: pointer;
          transition: 100ms;
        }
      }
      .TimerProject{
        display: flex;
        flex-direction: column;
        width: 6rem;
        gap: 1rem;
        span{
          text-align: center;
        }

        span:hover{
          border-bottom: 0.06rem solid orange;
          cursor: pointer;
        }

        .timer:hover{
          transform: scale(120%);
          transition: 100ms;
          cursor: pointer;
        }

      }

    }
  }

}