header{
  background: rgb(0, 0, 0,0.5);

  nav{
    
    display: grid;
    grid-template-areas: 'img links';

  }
  .photo_link{
    width: 10vw;
    grid-area: img;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      height: 3rem;
      border-radius: 1rem;
      &:hover{
        transform: scale(120%);
        transition: 200ms;
      }
    }
  }

  .link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-area: links;

    a{
      margin-right: 2rem;
      color: white;
      text-decoration: none;
      &:hover{
        border-bottom: 1px solid orange;
      }
    }
  }

  @media screen {max-width: 400px;
    nav{
      display: grid;
      grid-template-areas: 
      'img'
      'links';
    }
    .photo_link{
      grid-area: img;
      width: 100%;
    }
    
  }

}
