header{
  background: rgb(0, 0, 0,0.5);

  nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;

  }
  .photo_link{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      height: 3rem;
      border-radius: 1rem;
      transition: 200ms;
      &:hover{
        transform: scale(120%);
      }
    }
  }

  .link{
    display: flex;
    align-items: center;

    a{
      margin-right: 2rem;
      color: white;
      text-decoration: none;
      &:hover{
        border-bottom: 1px solid orange;
      }
    }
  }

}


@media (max-width: 856px){
  nav{
    flex-wrap: wrap;
  }
}