*{
  margin: 0;
  padding: 0;
  backdrop-filter: blur(0.5rem);
}

div.App{
  height: 100vh;
  background-image: url(../../images/plano_de_fundo_main.jpg);
  background-size: 100% 100%;
  overflow-y: scroll;
  background-repeat: no-repeat;

}